


<div class="wrapper fadeInDown">
    <div id="formContent">
        <div class="fadeIn first">
            <br>
<br>
            <div>User Register</div>
        </div>

        <form>
            <input type="text" id="name" class="fadeIn second" placeholder="user name"
                />

            <input type="text" id="phone" class="fadeIn third" placeholder="Phone Number"
                 />

            <input type="text" id="address" class="fadeIn third" placeholder="Address"
                 />

            <input type="password" id="password" class="fadeIn third" placeholder="Password"
                />

            <input type="submit" class="fadeIn fourth" value="Register"  />

            <p class="text-center text-muted mt-5 mb-0">Have already an account? <a class="fw-bold text-body"
                    ><u>Login here</u></a></p>

        </form>
    </div>
</div>