

<div class="wrapper fadeInDown">
    <div id="formContent">

        <div class="fadeIn first">
            <div>User Login</div>
        </div>

        <form>
            <input type="text" id="userName" class="fadeIn second" name="login" placeholder="user name">
            <input type="password" id="password" class="fadeIn third" name="login" placeholder="password" >
            <input type="submit" class="fadeIn fourth" value="Log In">

            <p class="text-center text-muted mt-5 mb-0">Dont have an account? <a class="fw-bold text-body" ><u>Register here</u></a></p>
        </form>

    </div>
</div>